<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFullName()}"></title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">ФИО:</label>
    <input type="text" id="name" th:field="*{fullName}">
    <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
    <br>
    <label for="year">Год рождения:</label>
    <input type="number" id="year" th:field="*{year}">
    <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
    <br>
    <button type="submit">Редактировать</button>
</form>
</body>
</html>