<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}"></title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Название:</label>
    <input type="text" id="name" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>
    <label for="year">Год выпуска:</label>
    <input type="number" id="year" th:field="*{year}">
    <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
    <br>
    <label for="author">Автор:</label>
    <input type="text" id="author" th:field="*{author}">
    <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <br>
    <button type="submit">Редактировать</button>
</form>
</body>
</html>